AccessModifierOffset : -4
AlignConsecutiveAssignments : true
AlignTrailingComments : true
AllowShortFunctionsOnASingleLine : true
BasedOnStyle : llvm
BinPackArguments : false
BinPackParameters : false
BreakBeforeBraces : Allman
ColumnLimit : 80
FixNamespaceComments : true
IndentWidth : 4
PointerBindsToType : true
SpacesBeforeTrailingComments : 2
TabWidth : 8
UseTab : Never
